<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estilo de Vida - EcoMarket</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/componentes.css">
</head>
<body>
    <main class="container">
        <div class="main-layout">
            <aside class="sidebar sticky-top">
                <h3>Categorías</h3>
                <ul class="filtros">
                    <li><a href="cuidado-personal.html" class="filter-link">Cuidado Personal</a></li>
                    <li><a href="hogar-cocina.html" class="filter-link">Hogar y Cocina</a></li>
                    <li><a href="estilo-vida.html" class="filter-link">Estilo de Vida</a></li>
                </ul>
            </aside>
            <section>
                <h2>Estilo de Vida</h2>
                <div class="grid-destacados">
                    <article class="product-card"><img src="../img/Botella_de_acero.jpg"><div class="card-content"><h3>Botella de Acero</h3><p>$24.99</p></div></article>
                    <article class="product-card"><img src="../img/bolsaalgodon.jpg"><div class="card-content"><h3>Bolsa de Algodón</h3><p>$5.99</p></div></article>
                    <article class="product-card"><img src="../img/popotedemetal.jpg"><div class="card-content"><h3>Popote de Metal</h3><p>$4.99</p></div></article>
                    <article class="product-card"><img src="../img/veladesoja.jpg"><div class="card-content"><h3>Vela de Soja</h3><p>$14.00</p></div></article>
                    <article class="product-card"><img src="../img/toalla.jpg"><div class="card-content"><h3>Toalla de Bambú</h3><p>$22.00</p></div></article>
                    <article class="product-card"><img src="../img/Cuerovegano.jpg"><div class="card-content"><h3>Cuero vegano</h3><p>$7.00</p></div></article>
                </div>
            </section>
        </div>
    </main>
</body>
</html>