<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hogar y Cocina - EcoMarket</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/componentes.css">
</head>
<body>
    <main class="container">
        <div class="main-layout">
            <aside class="sidebar sticky-top">
                <h3>Categorías</h3>
                <ul class="filtros">
                    <li><a href="cuidado-personal.html" class="filter-link">Cuidado Personal</a></li>
                    <li><a href="hogar-cocina.html" class="filter-link">Hogar y Cocina</a></li>
                    <li><a href="estilo-vida.html" class="filter-link">Estilo de Vida</a></li>
                </ul>
            </aside>
            <section>
                <h2>Hogar y Cocina</h2>
                <div class="grid-destacados">
                    <article class="product-card"><img src="../img/tazadeceramica.jpg"><div class="card-content"><h3>Taza de Cerámica</h3><p>$15.50</p></div></article>
                    <article class="product-card"><img src="../img/esponja.jpg"><div class="card-content"><h3>Esponja Luffa</h3><p>$6.00</p></div></article>
                    <article class="product-card"><img src="../img/filtro.jpg"><div class="card-content"><h3>Filtro de café</h3><p>$3.50</p></div></article>
                    <article class="product-card"><img src="../img/cesto.jpg"><div class="card-content"><h3>Cesto de Mimbre</h3><p>$28.00</p></div></article>
                    <article class="product-card"><img src="../img/jabonerapiedra.jpg"><div class="card-content"><h3>Jabonera de Piedra</h3><p>$14.00</p></div></article>
                    <article class="product-card"><img src="../img/ceradeabeja.jpg"><div class="card-content"><h3>Cera de Abeja</h3><p>$11.00</p></div></article>
                    <article class="product-card"><img src="../img/termobambu.jpg"><div class="card-content"><h3>Termo de Bambú</h3><p>$26.00</p></div></article>
                </div>
            </section>
        </div>
    </main>
</body>
</html>